/* ブラウザがそれぞれ持っているCSSをリセットするための記述 */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #6c6b6b;
}

a {
  text-decoration: none;
  color: #38b48b;
}

header {
  width: 100%; /* 横幅いっぱい */
  padding: 15px 0;
  margin: 0 auto;
  text-align: center;
  background-color: darkgreen; /* 背景色darkgreen */
}

header .heading { /* headerタグ内のheadingクラスにのみ反映される */
  font-size: 32px;
}

header .heading a {
  color: #fff;
}

/* nav */
nav {
  width: 100%;
  height: 50px;
}

.nav-list {
  text-align: center;
  padding: 10px 0;
  margin: 0 auto;
  line-height: 10px;
}

.nav-list-item {
  list-style: none;
  display: inline-block;
  margin: 0 20px;
  color: #fff;
}

.main-visual {
  width: 100%;
  height: 120px;

}

.main-visual-content {
  width: 40%; /* 横幅40% */
  height: 300px; /* 親の高さに揃える */
  background-color: #ecfcdf;
}

.main-visual-text {
  color: #fff; /* 文字色を白に変更 */
}

main {
  width: 90%; /* 横幅90% */
  margin: 0 auto; /* 中央寄せ（左右に余白がないとできない） */
  padding: 70px 0; /* 上下に70px、左右に0pxの内側余白 */
}

.birthday, .place, .hobby, .career, .qua {
  display: flex;
}

.me-image {
  width: 30%;
  height: 50px;
  background-size: auto;
  background-position: 50px 100px;
  border-radius: 10px;
  display: flex;
}

footer {
  width: 100%; /* 横幅いっぱい */
  height: 100px; /* 高さ100px */
  text-align: center;
  line-height: 100px;
  background-color: darkgreen; /* 背景色darkgreen */
}

.footer-text {
  color: #fff;
}